API_GATEWAY_IMAGE=dzarembo/trainee-api-gateway:latest
USER_SERVICE_IMAGE=dzarembo/trainee-user-service:latest
AUTH_SERVICE_IMAGE=dzarembo/trainee-auth-service:latest
ORDER_SERVICE_IMAGE=dzarembo/trainee-order-service:latest
PAYMENT_SERVICE_IMAGE=dzarembo/trainee-payment-service:latest

USER_POSTGRES_DB=user_service_db
USER_POSTGRES_USER=postgres
USER_POSTGRES_PASSWORD=postgres

AUTH_POSTGRES_DB=auth_service_db
AUTH_POSTGRES_USER=postgres
AUTH_POSTGRES_PASSWORD=postgres

ORDER_POSTGRES_DB=order_service_db
ORDER_POSTGRES_USER=postgres
ORDER_POSTGRES_PASSWORD=postgres

PAYMENT_MONGO_ROOT_USERNAME=mongo
PAYMENT_MONGO_ROOT_PASSWORD=password
PAYMENT_MONGO_DATABASE=payment_db

REDIS_PASSWORD=redis123

JWT_SECRET=replace-with-your-secret
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000
